@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,300;1,700&family=Roboto:wght@300&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    height: 100hv;
}

*{
    list-style: none;
    text-decoration: none;
    color: #555;
    padding: 0;
    margin: 0;
}

.copyRight {
    color: #fff;
    background-color: #000;
    font-size: 20px;
}

a.btn-visit {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 4px 15px;
    transition: all .6s;
}

a.btn-visit:hover{
    background-color: rgba(0, 0, 0, .3);
    font-size: 25px;
    padding: 6px 18px;
}

.sidebar {
    overflow: scroll;
    width: 250px;
    height: 100%;
    position: fixed;
    left: -250px;
    background: rgb(34, 34, 34);
    transition: all .8s ease;
}

.sidebar header {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    line-height: 70px;
    background: #000;
    user-select: none;
}

.sidebar header b {
    color: #fff;
}

.sidebar ul a {
    height: 100%;
    display: block;
    width: 100%;
    line-height: 65px;
    padding-left: 40px;
    font-size: 20px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid #000;
    transition: .4s;
}

.sidebar ul a:hover{
    font-size: 25px;
    background: white;
}

.sidebar ul a i {
    margin-right: 16px;
}

#check {
    display: none;
}

label #btn,label #cancle{
    position: absolute;
    cursor: pointer;
    background-color: black;
    border-radius: 3px;
    z-index: 1;
}

label #btn {
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: #fff;
    background: #000;
    padding: 6px 12px;
    transition: all .8s;
}

label #btn:hover {
    color: #000;
    background: gray;
}

label #cancle{ 
    left: -195px;
    z-index: 1111;
    top: 17px;
    font-size: 30px;
    color: #fff;
    background: #000;
    padding: 4px 9px;
}

#check:checked ~ .sidebar {
    left: 0;
}

#check:checked ~ label #btn {
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancle {
    left: 195px;
    transition: all .8s;
}

label #cancle:hover {
    background: #fff;
    color: #000;
}

.sectionsdisplay {
    background: url(../images/background.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all .8s;
    overflow: scroll;
}

#check:checked ~ .sectionsdisplay {
    margin-left: 250px;
    transition: all .8s;
}



.sectionsdisplay header {
    width: 100%;
    height: 100px;
    background: rgba(0, 0, 0, .6);
    text-align: center;
}

.sectionsdisplay header b {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    position: relative;
    top: 20px;
    transition: .8s;
}

.sectionsdisplay header b:hover {
    border-bottom: 3px solid #fff;
    transition: all .8s;
}


.containers {
    margin: 10px 0px;
    height: auto;
}

.sectionsdisplay section.top aside {
    display: inline-block;
    width: 33%;
    color: #fff;
    text-align: center;
}

.sectionsdisplay section.top aside:hover {
    background: rgba(255, 255, 255, .5);
    border-radius: 5px;
}

.sectionsdisplay section.top aside img {
    width: 300px;
    margin-top: 20px;
    border-radius: 5px;
    transition: .6s;
}

.sectionsdisplay section.top aside img:hover {
    width: 350px;
    margin-top: 20px;
    border-radius: 5px;
}

.sectionsdisplay section.top aside .displayData {
    color: #fff;
    margin: 20px 10px 25px 10px;
}

.sectionsdisplay section.middle aside {
    display: inline;
    width: 100%;
    color: #fff;
    margin: 20px 0px 20px 35px;
    text-align: center;
}

.sectionsdisplay section.middle aside img{
    width: 90%;
    border-radius: 5px;
}

.sectionsdisplay section.middle aside p {
    width: 90%;
    margin-left: 5%;
    margin-top: 6px;
    color: #fff;
}

.sectionsdisplay section.middle aside a {
    position: relative;
    top: -150px;
}

.sectionsdisplay section.middle aside.middleAsideText {
    display: inline-block;
    width: 60%;
    color: #fff;
    text-align: center;
}

.sectionsdisplay section {
    margin: 20px 120px 20px 120px;
    /* margin-right: 120px; */
    color: #fff;
    font-size: 40px;
    position: relative;
    top: 20px;
}

#check:checked ~ .sectionsdisplay section {
    margin: 20px 10px 20px 10px;
}

.sectionsdisplay section.top {
    background: rgba(0, 0, 0, .3);
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 5px;
    font-size: 20px;
}

.sectionsdisplay section.middle {
    background: rgba(0, 0, 0, .3);
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 5px;
    font-size: 20px;
}

.sectionsdisplay section.bottom {
    background: rgba(0, 0, 0, .3);
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 5px;
    font-size: 20px;
    margin-bottom:50px ;
}

.sectionsdisplay section.bottom div {
    margin: 10px 20px 10px 20px;
    color: #fff;
}

.sectionsdisplay footer {
    width: 100%;
    background: rgba(0, 0, 0, .5);
    text-align: center;
}

.sectionsdisplay footer aside {
    width: 20%;
    font-size: 17px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.sectionsdisplay footer .footerDisplay aside:hover {
    background: rgba(555, 555, 555, .4);
    font-size: 20px;
}

.sectionsdisplay footer .footerDisplay aside ul li {
    padding-bottom: 5px;
}

.sectionsdisplay footer .footerDisplay aside ul.headingfooter li {
    /* background: rgb(34, 34, 34); */
    color: #fff;
    font-weight: 700;
}

.sectionsdisplay footer .footerDisplay aside ul.contentfooter li {
    /* background: rgb(34, 34, 34); */
    color: cornsilk;
    
    font-size: 15px;
}

.sectionsdisplay footer .footerDisplay aside ul.contentfooter li:hover{
    color: #000;
}

blockquote p {
    margin: 30px 30px 20px 50px;
}

blockquote p.quote {
    font-style: italic;
    font-size: 30px;
    color: #fff;
}

section blockquote {
    width: 40%;
    margin-left: 700px;
}

section blockquote p.credit {
    color: #fff;
    margin-top: 0;
    position: relative;
    line-height: 20px;
    padding-left: 20px;
}

section blockquote p.credit strong {
    font-size: 25px;
    color: #d2bd65;
}

section blockquote p.credit em {
    font-size: 20px;
    color: #d2bd65;
}

section blockquote::before {
    content: '\201c';
    color: #d2bd65;
    position: absolute;
    top: -60px;
    left: 650px;
    font-size: 5em;
    font-family: serif;
}

section blockquote p.quote::after {
    content: '\201d';
    font-family: serif;
}

section blockquote p.credit::before {
    content: '\2014';
    position: absolute;
    top: 0px;
    left: -40px;
}


@media screen and (max-width: 1280px) {
    .sectionsdisplay section {
        margin: 20px 10px 20px 10px;
        /* margin-right: 120px; */
        color: #fff;
        font-size: 40px;
        position: relative;
        top: 20px;
    }

    #check:checked ~ .sectionsdisplay section {
        margin: 20px 10px 20px 10px;
    }
}

@media screen and (max-width: 1300px) {
    .sectionsdisplay section {
        margin: 20px 80px 20px 80px;
        /* margin-right: 120px; */
        color: #fff;
        font-size: 40px;
        position: relative;
        top: 20px;
    }
    

    #check:checked ~ .sectionsdisplay section {
        margin: 20px 10px 20px 10px;
    }

    #check:checked ~ .sectionsdisplay section.top aside {
        display: inline-block;
        width: 32%;
        color: #fff;
        text-align: center;
        margin-left: 7px;
    }
    
    #check:checked ~ .sectionsdisplay section.top aside img {
        width: 250px;
        margin-top: 20px;
        border-radius: 5px;
        transition: .6s;
    }
    
    #check:checked ~ .sectionsdisplay section.top aside img:hover {
        width: 300px;
        margin-top: 20px;
        border-radius: 5px;
    }
}

@media screen and (max-width: 1210px) {
    .sectionsdisplay section {
        margin: 10px 20px 10px 20px;
        /* margin-right: 120px; */
        color: #fff;
        font-size: 40px;
        position: relative;
        top: 20px;
    }

    #check:checked ~ .sectionsdisplay section {
        margin: 20px 10px 20px 10px;
    }

    #check:checked ~ .sectionsdisplay section.top aside {
        display: inline-block;
        width: 32%;
        color: #fff;
        text-align: center;
        margin-left: 7px;
    }
    
    #check:checked ~ .sectionsdisplay section.top aside img {
        width: 200px;
        margin-top: 20px;
        border-radius: 5px;
        transition: .6s;
    }
    
    #check:checked ~ .sectionsdisplay section.top aside img:hover {
        width: 250px;
        margin-top: 20px;
        border-radius: 5px;
    }

    .sectionsdisplay section.top aside img:hover {
        width: 350px;
        margin-top: 20px;
        border-radius: 5px;
    }
}


@media screen and (max-width: 1110px) {
    .sectionsdisplay section {
        margin: 10px 20px 10px 20px;
        /* margin-right: 120px; */
        color: #fff;
        font-size: 40px;
        position: relative;
        top: 20px;
    }

    section blockquote {
        width: 50%;
        margin-left: 500px;
    }

    section blockquote::before {
        left: 450px;
    }

    #check:checked ~ .sectionsdisplay section {
        margin: 20px 10px 20px 10px;
    }

    #check:checked ~ .sectionsdisplay section.top aside {
        display: inline-block;
        width: 32%;
        color: #fff;
        text-align: center;
        margin-left: 7px;
    }
    
    #check:checked ~ .sectionsdisplay section.top aside img {
        width: 200px;
        margin-top: 20px;
        border-radius: 5px;
        transition: .6s;
    }
    
    #check:checked ~ .sectionsdisplay section.top aside img:hover {
        width: 250px;
        margin-top: 20px;
        border-radius: 5px;
    }

    .sectionsdisplay section.top aside img:hover {
        width: 330px;
        margin-top: 20px;
        border-radius: 5px;
    }
}


@media screen and (max-width: 1060px) {
    .sectionsdisplay section {
        margin: 10px 20px 10px 20px;
        /* margin-right: 120px; */
        color: #fff;
        font-size: 40px;
        position: relative;
        top: 20px;
    }

    .sectionsdisplay section.middle aside a {
        position: relative;
        top: -180px;
    }

    #check:checked ~ .sectionsdisplay section {
        margin: 20px 10px 20px 10px;
    }

    .sectionsdisplay section.top aside {
        display: inline-block;
        width: 30%;
        color: #fff;
        text-align: center;
        margin-left: 2%;
    }

    .sectionsdisplay section.top aside img {
        width: 170px;
        margin-top: 20px;
        border-radius: 5px;
        transition: .6s;
    }

    #check:checked ~ .sectionsdisplay section.top aside {
        display: inline-block;
        width: 31%;
        color: #fff;
        text-align: center;
        margin-left: 10px;
    }
    
    #check:checked ~ .sectionsdisplay section.top aside img {
        width: 170px;
        margin-top: 20px;
        border-radius: 5px;
        transition: .6s;
    }
    
    #check:checked ~ .sectionsdisplay section.top aside img:hover {
        width: 200px;
        margin-top: 20px;
        border-radius: 5px;
    }

    .sectionsdisplay section.top aside img:hover {
        width: 200px;
        margin-top: 20px;
        border-radius: 5px;
    }
}

@media screen and (max-width: 930px) {
    .sectionsdisplay section {
        margin: 10px 20px 10px 20px;
        /* margin-right: 120px; */
        color: #fff;
        font-size: 40px;
        position: relative;
        top: 20px;
    }

    section blockquote {
        width: 50%;
        margin-left: 300px;
    }

    section blockquote::before {
        left: 250px;
    }

    #check:checked ~ .sectionsdisplay section {
        margin: 20px 10px 20px 10px;
    }

    .sectionsdisplay section.top aside {
        display: inline-block;
        width: 30%;
        color: #fff;
        text-align: center;
        margin-left: 2%;
    }

    #check:checked ~ .sectionsdisplay section.top aside {
        display: inline-block;
        width: 95%;
        color: #fff;
        text-align: center;
        margin-left: 15px;
    }
    
    #check:checked ~ .sectionsdisplay section.top aside img {
        width: 400px;
        margin-top: 20px;
        border-radius: 5px;
        transition: .6s;
    }
    
    #check:checked ~ .sectionsdisplay section.top aside img:hover {
        width: 500px;
        margin-top: 20px;
        border-radius: 5px;
    }

    .sectionsdisplay section.top aside img:hover {
        width: 220px;
        margin-top: 20px;
        border-radius: 5px;
    }
}

@media screen and (max-width: 790px) {

    .sectionsdisplay section.middle aside a {
        position: relative;
        top: -170px;
    }

    section blockquote {
        width: 100%;
        margin: 10px 20px 5px 50px;
    }

    section blockquote::before {
        left: 0px;
    }

    .sectionsdisplay section {
        margin: 10px 20px 10px 20px;
        /* margin-right: 120px; */
        color: #fff;
        font-size: 40px;
        position: relative;
        top: 20px;
    }

    .sectionsdisplay section.top aside {
        display: inline-block;
        width: 93%;
        color: #fff;
        text-align: center;
        margin-left: 15px;
    }

    .sectionsdisplay section.top aside img {
        width: 300px;
        margin-top: 20px;
        border-radius: 5px;
        transition: .6s;
    }

    .sectionsdisplay section.middle aside a {
        position: relative;
        top: -200px;
    }

    .sectionsdisplay section.top aside img:hover {
        width: 350px;
        margin-top: 20px;
        border-radius: 5px;
    }

    .sectionsdisplay footer aside {
        width: 40%;
        font-size: 17px;
        color: #fff;
        font-weight: 500;
        text-align: center;
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 10px;
        border-radius: 10px;
    }
    
}

@media screen and (max-width: 585px) {

    .sectionsdisplay section.middle aside a {
        position: relative;
        top: -220px;
    }
}

@media screen and (max-width: 500px) {

    #check:checked ~ .sectionsdisplay header {
        display: none;
    }

    #check:checked ~ .sectionsdisplay section {
        display: none;
    }

    #check:checked ~ .sectionsdisplay footer {
        display: none;
    }

    .sectionsdisplay footer aside {
        width: 100%;
        font-size: 17px;
        color: #fff;
        font-weight: 500;
        text-align: center;
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 10px;
        border-radius: 10px;
    }


    .sectionsdisplay section.middle aside a {
        position: relative;
        top: -280px;
    }
}

@media screen and (max-width: 400px) {

    .sectionsdisplay section.middle aside a {
        position: relative;
        top: -300px;
    }
}

@media screen and (max-width: 400px) {

    .sectionsdisplay section.middle aside a {
        position: relative;
        top: -360px;
    }

    label #btn {
        left: 10px;
        top: 25px;
        font-size: 35px;
        color: #fff;
        background: #000;
        padding: 6px 12px;
        transition: all .8s;
    }
}

@media screen and (max-width: 375px) {

    .sectionsdisplay section.middle aside a {
        position: relative;
        top: -310px;
    }

    label #btn {
        left: 10px;
        top: 25px;
        font-size: 35px;
        color: #fff;
        background: #000;
        padding: 6px 12px;
        transition: all .8s;
    }

    .sectionsdisplay section.top aside img {
        width: 200px;
        margin-top: 20px;
        border-radius: 5px;
        transition: .6s;
    }

    .sectionsdisplay section.top aside img:hover {
        width: 250px;
        margin-top: 20px;
        border-radius: 5px;
    }
}